<h1>
  All Student
  <%= link_to(new_student_path, class: "btn pull-right") do %>
    <i class="fa fa-plus fa-2x"></i>
  <%end%>
  <%= link_to(root_path, class: "btn pull-right") do %>
    <i class="fa fa-search fa-2x"></i>
  <%end%>
</h1>
<hr>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Classroom</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.classroom %></td>
        <td>
          <%= link_to "Show", student %>
          <%= link_to "Edit", edit_student_path(student) %>
          <%= link_to "Delete", student, method: :delete %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>


