
  <div id="main" class="container-fluid">
    <div class="row col-sm-11 center-block">
      <div class="col-sm-12 card">
        <div class="col-sm-12">
          <h1>
            All Student
            <a class="btn pull-right" href="#"><i class="fa fa-search fa-2x"></i></a>
            <a class="btn pull-right" href="#"><i class="fa fa-plus fa-2x"></i></a>
          </h1>
          <hr>
          <!-- Table User List -->
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="info">
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Classroom</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @students.each do |student| %>
                  <tr>
                    <td><%= student.id %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= student.classroom %></td>
                    <td>
                      <%= link_to "Show", student %>|
                      <%= link_to "Edit", edit_student_path(student) %>|
                      <%= link_to "Delete", student, method: :DELETE %>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <!-- End Table User List -->
        </div>
      </div>
    </div>
  </div>
